body
{
	font-family: "PT Serif rev=3";
    min-height: 800px;
}

main
{
    display: flex;
}

main.main .sidebar
{
    flex: 1, 1;
}
main.main div.body
{
    flex: 1, 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .card-header, .nav
{
    /*font-family: "PT Serif rev=3";*/
    font-family: Arial,Helvetica,sans-serif;
}

form
{
    margin-block-end: 0em;
}

.code {
    color: #333;
    position: relative;
    overflow: hidden;
}
h2.fader
{
    text-align: left;
    color: #ccc;
    font: 11px monaco, mono-space;
    padding-left: 30px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container
{
    font-family: Arial,Helvetica,sans-serif;
}
.text-bg-dark .bg-dark
{
    background-color: #2a2722 !important;
}

.font-sm
{
    font-size: 12px;
}

.font-md
{
    font-size: 18px;
}
.home h1
{
    font-size: 75px;
}
.home h2
{
    font-size: 50px;
}

.home .carousel
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.home .carousel .carousel-item img
{
    width: 100%;
}

.hidden
{
	display: none !important;
}
.nomatch
{
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/images/meadow.png');
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomatch .msg
{
    position: absolute;
    display: block;
    top: 100px;
    margin: 0 auto;
    padding: 30px;
    width: 600px;
    border: 2px solid #AAA;
    border-radius: 10px;
    background-color: white;
    font-size: small;
}
.bebug_container
{
	position: absolute;
	right: 0;
	top: 100px;
	width: 280px;
	height: 600px;
	overflow: auto;
	border: 1px solid #eeeeee;
}
.data
{
	width: 100%;
}
.bg-rank
{
	background-color: rgb(186, 216, 240) !important;
}
.bg-money
{
	background-color: rgb(175, 202, 173) !important;
}
.btn-group-xs>.btn, .btn-xs
{
    --bs-btn-padding-y: 0.10rem !important;
    --bs-btn-padding-x: 0.2rem !important;
    --bs-btn-font-size: 0.7rem !important;
    --bs-btn-border-radius: 0.25rem !important;
}

.avatar, .blog .card .avatar
{
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: #fff; /* Center the image */
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
}
.avatar-sm, .blog .card .avatar-sm
{
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: #fff; /* Center the image */
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
}
.first
{
	background-image: url('/images/1st.png');
}
.second
{
	background-image: url('/images/2nd.png');
}
.third
{
	background-image: url('/images/3rd.png');
}
.barnes
{
	background-image: url('/images/barnes.png');
}
.base_blue
{
	background-image: url('/images/base_blue.png');
}
.base_drkgreen
{
	background-image: url('/images/base_drkgreen.png');
}
.base_green
{
	background-image: url('/images/base_green.png');
}
.base_orange
{
	background-image: url('/images/base_orange.png');
}
.base_pink
{
	background-image: url('/images/base_pink.png');
}
.base_purple
{
	background-image: url('/images/base_purple.png');
}
.base_red
{
	background-image: url('/images/base_red.png');
}
.base_sucker
{
	background-image: url('/images/base_sucker.png');
}
.deadpool
{
	background-image: url('/images/deadpool.png');
}
.gamora
{
	background-image: url('/images/gamora.png');
}
.horseman
{
	background-image: url('images/horseman.png');
}
.ironman
{
	background-image: url('/images/ironman.png');
}
.leia
{
	background-image: url('/images/leia.png');
}
.loser
{
	background-image: url('/images/loser.png');
}
.spiderman
{
	background-image: url('images/spiderman.png');
}
.thor
{
	background-image: url('/images/thor.png');
}

.footer
{
    background-color: #202020;
    color:silver;
}
.round-logo
{
    background-color: white;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 50%;
}
.navbar .round-logo
{
    background-color: #fcf7e7;
    height: 40px;
}

.mega_menu, .mega_menu.navbar-nav
{
    padding: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 15px;
}
.mega_menu .menu-item
{
    flex: 1 0 auto;
    font-weight: bold;
}

.mega_menu .nav-link
{
    color: #202020;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 2px;
    -background-color: white;
}
.mega_menu .menu-item .nav-link, .mega_menu .menu-item .nav-link.active
{
    color: #202020;
}
.mega_menu .nav-link.active
{
    color: #202020;
    font-weight: bold;
    background-color: #eeeeee;
    border-bottom: 2px solid red;
}
.mega_menu .nav-link:hover
{
    background-color: #e6e3da;
    border-bottom: 2px solid red;
}
.submenu
{
    margin-left: 1rem;
    background-color: transparent;
}
.submenu .nav-link
{
    font-weight: normal;
}

.footer .round-logo
{
    height: 80px;
}

.dialog
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.btn-default
{
    background-color: #e6e3da !important;
    border: 1px solid silver;
    border-radius: 8px;
}

.breadcrumbs
{
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;
}

.crumb
{
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.25em 0.5em 0.25em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
}

.crumb:hover:after, .crumb:hover
{
    background: #edf1f5;
}

.crumb:focus:after, .crumb:focus, .crumb.is-active:focus
{
    background: #323f4a;
    color: #fff;
}

.crumb:after, .crumb:before
{
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.crumb:before
{
    background: #cbd2d9;
    margin-left: 1px;
}

.crumb:last-child
{
    border-right: none;
}

.crumb.active
{
    background: #edf1f5;
}